body {
    text-align: center;
    font-family: 'Bangers', cursive;
}

.scoreboard {
    font-size: 22px;
    position: relative;
    top: 40px;
}

div > span {
    margin: 0 10px;
}

.game-over {
    display: none;
    position: absolute;;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -270px;
    background-color: white;
    border: 20px double green;
    font-size: 30px;
}
